//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: rem(8) rem(52);
	background-color: $mainOrange;
	font-size: rem(20);
	font-weight: 600;
	border-radius: 3px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
