//====================================================================================================
.header{
	color: $mainColor;
		&__container{
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			
		}

		// .header__logo

		&__logo{}


		// .header__catalog

		&__catalog{}


		// .header__search

		&__search{}


		// .header__menu

		&__menu{}


		// .header__user

		&__user{}

}
.catalog{

		// .catalog__menu

		&__full{}


		// .catalog__burger

		&__burger{}


		// .catalog__logo

		&__logo{}

}

.menu{

		&__body{}

		// .menu__list

		&__list{
			display: flex;
			@include adaptiveValue("gap", 24, 16)
			
		}


		// .menu__item

		&__item{}


		// .menu__link

		&__link{
			font-size: rem(12);
			&-icon{
				font-size: 100px;
			}
		}
}

._icon-heart{
	font-size: rem(20);
	line-height:inherit;
}




//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
